<html xmlns:th="http://thymeleaf.org">
<head>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-2" th:fragment="navbar">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/dashboard.css}"/>
    <div class="container glyphicon-align-left" id="navbar1">
        <a
                th:href="@{dashboard}"
                class="navbar-brand"
                data-target="#navCollapse"
                data-toggle="collapse"
        >CrudApp</a>
        <button class="navbar-toggler" data-target="#navCollapse" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navCollapse">
            <ul class="navbar-nav px-2">
                <li class="nav-item">
                    <a th:href="@{dashboard}" class="nav-link active">Dashboard</a>
                </li>
                <li class="nav-item px-2">
                    <a th:href="@{users}" class="nav-link ">Users</a>
                </li>
            </ul>

            <!-- Profile Starts here -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown mr-3">
                    <a
                            th:href="@{users}"
                            class="nav-link dropdown-toggle"
                            data-toggle="dropdown"
                    >
                        <i class="fas fa-user"></i> Welcome Imran</a
                    >
                    <div class="dropdown-menu">
                        <a th:href="@{profile}"  href="#" class="dropdown-item">
                            <i class="fas fa-user-circle"></i> Profile
                        </a>
                    </div>
                </li>

                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link"
                    ><i class="fas fa-user-times"></i> Logout</a
                    >
                </li>
            </ul>
<!--            <script th:src= "@{/js/displayadminprofilepage.js}"></script>-->
<!--            <script th:src= "@{/js/editAdminProfileAjax.js}"></script>-->

        </div>
    </div>
</nav>




<script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
></script>
<script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>


<script th:src="@{/js/script.js}"></script>
</body>
</html>