<html xmlns:th="http://thymeleaf.org">
  <head>

    <title>CrudApp</title>

    <link rel="stylesheet" type="text/css"  th:href="@{/css/dashboard.css}"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
  </head>
  <body onload="jwtAuthorization()">

    <!-- Navbar -->

    <nav th:insert ="/fragements/navbar :: navbar"></nav>
    <header th:insert = "/fragements//header :: header(' Dashboard')"></header>

    <section id="actions" class="py-4 mb-4 bg-light">
      <div class="container">

      <div th:insert = "/fragements/add_user_modal :: usermodal"></div>

      </div>

    </section>

    <div class="card text-center text-white bg-warning mb-3">
      <div class="card-body">
      <h2 class="display-5">Users</h2>
      <span class="display-4"> <i class="fas fa-users"></i> 3</span>
      <a th:href="@{users}" class="btn btn-outline-light btn-sm d-block mt-2">View</a>
      </div>
      </div>
      </div>
      </div>
    </div>

    <footer th:insert = "/fragements//footer :: footer"></footer>

    <script th:src= "@{/js/jwtAuthenticationAjax.js}"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>

<!--    <script th:src="@{/js/script.js}"></script>-->
    <script th:src="@{/js/post_request_add_user_modal.js}"></script>
  </body>
</html>
